form.col.col_10(method="post", action='/topic/' + topicId)
  fieldset.s_column
    legend title
    div
      label Title
      input.box_shadow(autofocus, type="text", name="title", minlength="4", placeholder='input title here', value= topic.title)
    .textarea
      label Content
      textarea.box_shadow(name='content', placeholder='input content here')= topic.content
    div
      label Tags
      input.box_shadow(type='text', name='tags', placeholder='separate with space', value=topic.tags.join(' '))

    input(type='submit', value='Submit')
