.topics.col.col_10
  a(href='/topic/new') New Topic
  - each topic in topics
    a(href='/topic/' + topic._id)
      h2= topic.title
    p= topic.content
    .tags
      - if(typeof topic.tags != 'undefined')
        - each tag in topic.tags
          a.tag(href='/topic/tagged/' + tag)= tag

