form.col.col_10(method="post", action='/topic')
  fieldset.s_column
    legend title
    div
      label Title
      input.box_shadow(autofocus, type="text", name="title", minlength="4", placeholder='input title here')
    .textarea
      label Content
      textarea.box_shadow(name='content', placeholder='input content here')

    input(type='submit', value='Submit')
