form#form_topic.col.col_10(method="post", action='/topic/')
  fieldset.s_column
    legend title
    div
      label Title
      input.required.box_shadow(autofocus, type="text", name="title", minlength="4", placeholder='input title here')
    .textarea
      label Content
      textarea.post-content.required.box_shadow(name='content', minlength='20', placeholder='input content here')
    div
      label Tags
      input.required.box_shadow(type='text', name='tags', placeholder='separate with space')

    input(type='submit', value='Submit')

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
script(src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js")
script
  $('#form_topic').validate()
