@import '52framework'

@css {
    header {padding-top:25px; border-bottom:1px solid #ccc; padding-bottom:20px;}
    header .logo {font-size:3.52em;}
    header nav ul li {float:left; margin-top:12px;}
    header nav ul li a {display:block; padding:5px 15px; border-right:1px solid #eee; font-size:1.52em; font-family:Georgia, "Times New Roman", Times, serif; text-decoration:none;}
    header nav ul li a:hover {background-color:#eee; border-right:1px solid #ccc; text-shadow:-1px -1px 0px #fff;}
    header nav ul li.last a {border-right:none;}
    footer {text-align:center; color:#666; font-size:0.9em; padding:4px 0px;}
}
