/* 
html5doctor.com Reset Stylesheet
v1.5 
Last Updated: 2010-08-12
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
	display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted #000;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}
@charset "utf-8";
/* CSS3 52framework */
@font-face {
	font-family: 'PTSansRegular';
	src: url('PT_Sans-webfont.eot');
	src: local('☺'), url('PT_Sans-webfont.woff') format('woff'), url('PT_Sans-webfont.ttf') format('truetype'), url('PT_Sans-webfont.svg#webfont6MwxiJev') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fontface { font-family:'PTSansRegular', Arial, sans-serif; }


/* 
	The CSS3 Text-Shadow property contains the following values
	horizontal-offset (length, required) | vertical-offset (length, required) | blur-radius (length, optional) | shadow-color (color, optional) 
*/

.shadow {	text-shadow:1px 1px 1px #666; 
	 	}/*<-- edit the color you wish to use in your shadows */
	
.shadow_multiple {text-shadow: -2px -2px 0px #1fd31f,
           2px 2px 0px #1f9ad3;
}

.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #ccc;
	
}

.rounded_top_right {
	border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border:1px solid #ccc;
	
}

.box_shadow {
	-webkit-box-shadow: 1px 1px 3px #ccc;
	-moz-box-shadow: 1px 1px 3px #ccc;
	box-shadow: 1px 1px 3px #ccc;
	
}
.box_shadow_multiple {
	-webkit-box-shadow: 0 0 20px #ccc inset,
						10px 7px 15px #f0f961,
						-10px 7px 15px #55fc6d,
						-10px -7px 15px #55d7fc,
						10px -7px 15px #fc9c9c;
	
	-moz-box-shadow: 0 0 20px #ccc inset,
						10px 7px 15px #f0f961,
						-10px 7px 15px #55fc6d,
						-10px -7px 15px #55d7fc,
						10px -7px 15px #fc9c9c;
	
	box-shadow:		0 0 20px #ccc inset,
						10px 7px 15px #f0f961,
						-10px 7px 15px #55fc6d,
						-10px -7px 15px #55d7fc,
						10px -7px 15px #fc9c9c;
}

.rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(-180deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	/* possible properties for the Internet Explorer filter rotation are: 1. Content is rotated 90 degrees.  
		`														 		  2. Content is rotated 180 degrees.
																 		  3. Content is rotated 270 degrees.
	*/
}

.gradient {
		background: #f3c5bd; /* old browsers */

		background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%); /* firefox */
		
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3c5bd), color-stop(50%,#e86c57), color-stop(51%,#ea2803), color-stop(75%,#ff6600), color-stop(100%,#c72200)); /* webkit */
		
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* ie */
		
		/* generated with http://www.colorzilla.com/gradient-editor/ */
	 }
.gradient_radial {
	 background:-webkit-gradient(radial, center center, 0, center center, 50, from(#eee), to(#ccc));
	 background: -moz-radial-gradient(#eee, #ccc); 
}
@charset "UTF-8";
/* ** ** forms ** ** */
form fieldset {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius:3px; padding:10px; border:1px solid #eee; }
form fieldset legend {font-size:1.4em; padding:0 5px;}
form input[type=text], form input[type=email], form input[type=url], form input[type=password], form input[type=number], textarea {
		-moz-border-radius: 3px; 
		-webkit-border-radius: 3px; 
		border-radius:3px; 
		height:20px; 
		margin-bottom:5px; 
		border:1px solid #ccc; 
		padding:4px 0 1px 5px;
		}
form .textarea textarea {-moz-border-radius: 3px; 
		-webkit-border-radius: 3px; 
		border-radius:3px; 
		margin-bottom:5px; 
		min-height:50px;
		border:1px solid #ccc; 
		padding:4px 0 1px 5px; width:100%;}
form .textarea {height:auto;}
form label {display:block; height:20px; font-size:1.2em;}

/* special form styling */
form div {height:24px; clear:both; margin-bottom:6px; padding:5px 0px;}
form div label {float:left; width:auto;}
form div input {width:52%; float:right;}
form div input.invalid {border-bottom:1px solid #f00;}
form fieldset input[type=submit], form fieldset button { display: inline-block;

  padding: 4px 8px;
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: 13px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  border: 1px solid rgba(0, 0, 0, 0.6);

  background: -webkit-gradient(linear, left top, left bottom, from(#fbfcfb), to(#9d9e9d));
  background: -moz-linear-gradient(#fbfcfb, #9d9e9d);
  background-color: #eee;

  text-shadow: rgba(255, 255, 255, 0.4) 0px 1px;

  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px;

  -webkit-user-select: none;
  -moz-user-select: none;
	cursor:pointer;
}
form fieldset input:hover[type=submit], form fieldset button:hover {
	background: #B5B5B5;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px,
                      black 0px 1px 3px inset,
                      rgba(0, 0, 0, 0.4) 0px -5px 12px inset;

  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px,
                   black 0px 1px 3px inset,
                   rgba(0, 0, 0, 0.4) 0px -5px 12px inset;

  box-shadow: rgba(255, 255, 255, 0.4) 0 1px,
              black 0px 1px 3px inset,
              rgba(0, 0, 0, 0.4) 0px -5px 12px inset;

  text-shadow: rgba(255, 255, 255, 0.3) 0px 1px;
	cursor:pointer;
}

/* single column form styling */

form .s_column div {height:auto; margin-bottom:3px; padding:0px;}
form .s_column div label {float:none; width:100%;}
form .s_column div input {width:98%; float:none;}
@charset "utf-8";
/* 52framework General StyleSheet - contains styles for all the HTML elements this framework supports */

body {
background:#fff;
color:#000;
font:12px Arial, Helvetica, sans-serif;
position:relative;
}


/* ** ** Common Addative Classes ** ** */
.left, .float_left  { float:left	}
.right, .float_right { float:right	}
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; height:0px;}
.clear-left, .clear_left { clear:left; } .clear-right, .clear_right { clear:right; }
.hide  { display:none	} .block {display:block !important;} .inline {display:inline !important;}

.align_right    { text-align:right;	  }
.align_left     { text-align:left;	  }
.align_center   { text-align:center;  }
.align_justify  { text-align:justify; }

.bold {font-weight:600;}
.italic {font-style:italic;}

a {	color:#525252;	}
a:hover, a:focus { text-decoration:underline;}
a:active, a:visited { }

blockquote {
		font-family: Georgia,"Times New Roman", Times, serif; 
		margin:5px; 
		padding:10px;
		font-size:1.52em; 
		color:#999; 
		font-style:italic; 
		line-height:1.3em; 
		width:100%; 
		quotes:none;
	}
	blockquote.left {border-right:1px dashed #ccc; width:35%;} /* float blockquote left, and set width */
	blockquote.right {border-left:1px dashed #ccc; width:35%;} /* float blockquote right and set a width */

/* ** ** Header Styles ** ** */
h1, h2, h3, h4, h5 {margin:0 0 0.5em; line-height:1.1em;}
h1 {	font-size:2.52em;} 
h2 {	font-size:1.952em;} 
h3 {	font-size:1.652em;} 
h4 {	font-size:1.452em;} 
h5 {	font-size:1.252em;} 
h6 {	font-size:1.52em;}

/* ** ** ul li's ** ** */
ul{
list-style:outside disc;
}
ul,ol{
margin:0 0 1.5em 1.5em;
padding:0;
}
li ul,li ol{
padding:0;
margin:0 0 1.5em 1.5em;
}


/* ** ** custom select color ** ** */
::selection {
	background: #525252; /* Safari */
	}
::-moz-selection {
	background: #525252; /* Firefox */
	color:#fff;
}
/* ** ** paragraph styling ** ** */
p {margin:0 0 1.52em;}
	p img.left {float:left;margin:1.52em 1.52em 1.52em 0;padding:0;}
	p img.right {float:right;margin:1.52em 0 1.52em 1.52em;}

strong   		{	font-weight:600;}
em, dfn  		{	font-style:italic;}
dfn 	 		{   font-weight:600;}
sup, sub 		{   line-height:0;}
abbr, acronym   {	border-bottom:1px dashed #ccc;}
address 		{	margin:0 0 1.5em;font-style:italic;}
del 			{	color:#666;}
pre, code, tt   {	font:1em 'andale mono', 'lucida console', monospace;line-height:1.5; display:block;}
code 			{	background-color:#eee; display:inline; padding:0px 2px 1px 2px; line-height:1.1em;}
pre 			{	margin:1.5em 0;white-space:pre;}
@charset "utf-8";
/* 52framework grid

16 cols by 40px, with a 20px gutter
inspired by the http://www.1kbgrid.com/

*/

.col {
	margin-left:10px; margin-right:10px;
	display: inline;
	overflow: hidden;
	float: left;
	position: relative;
}

.row{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

/* Column widths, and element width based on grid */

.col_1, .width_1	 {	width:40px;	 }
.col_2, .width_2 	 {	width:100px; }
.col_3, .width_3 	 {	width:160px; }
.col_4, .width_4 	 {	width:220px; }
.col_5, .width_5	 {	width:280px; }
.col_6, .width_6	 {	width:340px; }
.col_7, .width_7	 {	width:400px; }
.col_8, .width_8	 {	width:460px; }
.col_9, .width_9 	 {	width:520px; }
.col_10, .width_10	 {	width:580px; }
.col_11, .width_11	 {	width:640px; }
.col_12, .width_12	 {	width:700px; }
.col_13, .width_13	 {	width:760px; }
.col_14, .width_14	 {	width:820px; }
.col_15, .width_15	 {	width:880px; }
.col_16, .width_16	 {	width:940px; }
header {padding-top:25px; border-bottom:1px solid #ccc; padding-bottom:20px;}
  header .logo {font-size:3.52em;}
  header nav ul li {float:left; margin-top:12px;}
  header nav ul li a {display:block; padding:5px 15px; border-right:1px solid #eee; font-size:1.52em; font-family:Georgia, "Times New Roman", Times, serif; text-decoration:none;}
  header nav ul li a:hover {background-color:#eee; border-right:1px solid #ccc; text-shadow:-1px -1px 0px #fff;}
  header nav ul li.last a {border-right:none;}
  footer {text-align:center; color:#666; font-size:0.9em; padding:4px 0px;}

  article {border-bottom:5px double #ccc; margin-bottom:10px; padding-bottom:10px;}
  article .information {color:#666; margin-bottom:10px; border-top:1px dashed #eee; border-bottom:1px solid #eee; display:block; text-align:center; padding:3px 0px;}

  ul.recent {list-style:none; margin:0px; padding:0px;}
  ul.recent li {margin-bottom:5px; font-size:1.052em; border-bottom:1px solid #eee; padding-bottom:5px;}
  h1 {font-size:2.052em;}
  h2 {border-bottom:1px dashed #ccc;}

  .comments {list-style:none; margin:0px; padding:0px;}
  .comments li {border-left:2px solid #eee; padding-left:5px; margin-bottom:5px;}
  .comments li .comment_information {font-family:Verdana, Geneva, sans-serif; border-bottom:1px dashed #ccc; margin-bottom:5px; display:block; color:#666;}
a {
  text-decoration: none;
}
label.error {
  color: #f00;
  font-style: italic;
}
.post-tags {
  margin: 5px;
}
.tag {
  color: #334;
  background: #eef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 4px;
  margin: 2px;
  border-bottom: 1px solid #ccd;
  border-right: 1px solid #dde;
}
a.star {
  color: #fc3;
  font-size: 16px;
}
a.nostar {
  color: #ccc;
  font-size: 16px;
  font-weight: bold;
}
