@import "52framework/reset.css";
@import "52framework/css3.css";
@import "52framework/forms.css";
@import "52framework/general.css";
@import "52framework/grid.css";
header {padding-top:25px; border-bottom:1px solid #ccc; padding-bottom:20px;}
  header .logo {font-size:3.52em;}
  header nav ul li {float:left; margin-top:12px;}
  header nav ul li a {display:block; padding:5px 15px; border-right:1px solid #eee; font-size:1.52em; font-family:Georgia, "Times New Roman", Times, serif; text-decoration:none;}
  header nav ul li a:hover {background-color:#eee; border-right:1px solid #ccc; text-shadow:-1px -1px 0px #fff;}
  header nav ul li.last a {border-right:none;}
  footer {text-align:center; color:#666; font-size:0.9em; padding:4px 0px;}

  article {border-bottom:5px double #ccc; margin-bottom:10px; padding-bottom:10px;}
  article .information {color:#666; margin-bottom:10px; border-top:1px dashed #eee; border-bottom:1px solid #eee; display:block; text-align:center; padding:3px 0px;}

  ul.recent {list-style:none; margin:0px; padding:0px;}
  ul.recent li {margin-bottom:5px; font-size:1.052em; border-bottom:1px solid #eee; padding-bottom:5px;}
  h1 {font-size:2.052em;}
  h2 {border-bottom:1px dashed #ccc;}

  .comments {list-style:none; margin:0px; padding:0px;}
  .comments li {border-left:2px solid #eee; padding-left:5px; margin-bottom:5px;}
  .comments li .comment_information {font-family:Verdana, Geneva, sans-serif; border-bottom:1px dashed #ccc; margin-bottom:5px; display:block; color:#666;}
a {
  text-decoration: none;
}
label.error {
  color: #f00;
  font-style: italic;
}
.post-tags {
  margin: 5px;
}
.tag {
  color: #334;
  background: #eef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 4px;
  margin: 2px;
  border-bottom: 1px solid #ccd;
  border-right: 1px solid #dde;
  display: inline-block;
}
.current_tags li {
  display: inline-block;
}
a.star {
  color: #fc3;
}
a.nostar {
  color: #ccc;
}
.post-content {
  height: 30em;
}
