@import '52framework'

@css {
    header {padding-top:25px; border-bottom:1px solid #ccc; padding-bottom:20px;}
    header .logo {font-size:3.52em;}
    header nav ul li {float:left; margin-top:12px;}
    header nav ul li a {display:block; padding:5px 15px; border-right:1px solid #eee; font-size:1.52em; font-family:Georgia, "Times New Roman", Times, serif; text-decoration:none;}
    header nav ul li a:hover {background-color:#eee; border-right:1px solid #ccc; text-shadow:-1px -1px 0px #fff;}
    header nav ul li.last a {border-right:none;}
    footer {text-align:center; color:#666; font-size:0.9em; padding:4px 0px;}

    article {border-bottom:5px double #ccc; margin-bottom:10px; padding-bottom:10px;}
    article .information {color:#666; margin-bottom:10px; border-top:1px dashed #eee; border-bottom:1px solid #eee; display:block; text-align:center; padding:3px 0px;}

    ul.recent {list-style:none; margin:0px; padding:0px;}
    ul.recent li {margin-bottom:5px; font-size:1.052em; border-bottom:1px solid #eee; padding-bottom:5px;}
    h1 {font-size:2.052em;}
    h2 {border-bottom:1px dashed #ccc;}

    .comments {list-style:none; margin:0px; padding:0px;}
    .comments li {border-left:2px solid #eee; padding-left:5px; margin-bottom:5px;}
    .comments li .comment_information {font-family:Verdana, Geneva, sans-serif; border-bottom:1px dashed #ccc; margin-bottom:5px; display:block; color:#666;}
}
